/* root */


/* basic */
.hidden {
  display: none;
}

.visible {
  display: flex;
}

/* specific */
/* Base styling to center content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  border: 1px solid red;
  width: 90%;
  padding: 20px;
}

/* Media query for desktop */
/* @media (min-width: 1024px) {
  .app-container {
    width: 80%;
  }
} */

nav .nav-icons {
  display: flex;
  flex-direction: row;
  -ms-flex-align: end;
  gap: 1rem;
}
/*
.products-container {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  width: 100%;
  max-width: 1200px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.left-side {
  grid-column: 1;
  align-items: flex-start;
}

.right-side {
  grid-column: 3;
  align-items: flex-end;
}

.products-container li {
  margin: 10px 0; /* Adjust margin as needed
} */