/* root */
:root {
  --fresh-green: #30b635;
  --sunny-yellow: #FFEB3B;
  --rich-earth-brown: #795548;
  --clean-white: #FFFFFF;
  --cool-teal: #009688;
}

/* APP STYLES */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  min-width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}

/* HEADER STYLES */
.nav-icons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 0;
  margin: 0 0 2rem 0;
}

.nav-icons li i {
  font-size: 2rem;
}

.nav-icons .tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.nav-icons .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-icons .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fa {
  color: var(--cool-teal);
  transition: color 0.3s ease-in-out;
}

.fa:hover {
  color: var(--fresh-green);
  cursor: pointer;
}

/* MAIN STYLES */
.products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.4rem;
  width: 100%;
  padding: 0;
  margin: 0 0 2rem 0;
}

.card {
  border-radius: 8px;
  margin: 1rem;
  width: 600px;
  height: 100%;
  background-image: url('./assets/microgreens.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .card-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}

.primary {
  font-size: 2.2rem;
  color: #333;
}

.card .card-info .card-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 7px 16px;
  min-height: 36px;
  min-width: 36px;
  color: var(--clean-white);
  background: var(--fresh-green);
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}

.card .card-info .card-btn:hover {
  background: var(--cool-teal);
  color: var(--clean-white);
}

.card .availability {
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.card .green {
  color: var(--cool-teal);
}

.card .brown {
  color: var(--rich-earth-brown);
}

/* FOOTER STYLES */
footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

footer p {
  color: var(--cool-teal);
  margin: 0;
}

/* POP-UP STYLES */
.hidden {
  display: none;
}

.visible {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: var(--clean-white, #FFFFFF);
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-height: 90vh; /* Limits the height of the pop-up */
  max-width: 90vw;  /* Limits the width of the pop-up */
  overflow-y: auto; /* Adds vertical scroll if content overflows */
  z-index: 1000; /* Ensure it is on top of the overlay */
}

.visible section {
  margin-bottom: 20px;
}

.visible .close-window {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.description-section {

}

.diet-section {

}

.benefits-section {

}

.close-window {
  background-color: #333;
  color: var(--clean-white);
  padding: 0 10px;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

.close-window:hover {
  background-color: var(--rich-earth-brown);
}

@media (max-width: 1300px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 630px) {
  .card {
    width: 350px;
  }

  .visible {
    min-width: 90vw;
  }
}